<!doctype html>
<html lang=en>

<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="https://developers.google.com/maps/documentation/javascript/demos/demos.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkYZgRyS-pS5Cu7gUU4_6xp5HNxgo0cX4&callback=initMap"
    async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="js/app.js"></script>

</head>

<body ng-app="myApp">
    <div ng-controller="ListController">
        <div class="container-fluid">
          <div class="row-fluid">

            <!-- Список и поле ввода -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="list">
                <input id="new_point" type="text" ng-model="newPoint" placeholder="Добавьте точку на карту">
                <ul>
                    <li ng-repeat="point in points | toArray | orderBy:'number'" class="list_element" ng-init="initPointList()">
                        {{point.value}}
                        <img data-key="{{point.key}}" data-number="{{points.number}}" data-lat="{{point.lat}}" data-lng="{{point.lng}}" class="delete_point" ng-click="delete_from_list(point.key, point.number)" src="images/delete_small.png">                        
                    </li>
                </ul>
            </div>

          <!-- Карта -->
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="map"></div>
          </div>
         </div>
       </div>
    </div>
</body>

</html>
